In [2]:
# Introdução à manupulação de dados com pandas

import pandas as pd

df_selic = pd.read_json("https://api.bcb.gov.br/dados/serie/bcdata.sgs.11/dados?formato=json")

print(df_selic.info())
print(df_selic)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9598 entries, 0 to 9597
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   data    9598 non-null   object
 1   valor   9598 non-null   float64
dtypes: float64(1), object(1)
memory usage: 150.1+ KB
None
            data     valor
0     04/06/1986  0.065041
1     05/06/1986  0.067397
2     06/06/1986  0.066740
3     09/06/1986  0.068247
4     10/06/1986  0.067041
...          ...       ...
9593  10/09/2024  0.039270
9594  11/09/2024  0.039270
9595  12/09/2024  0.039270
9596  13/09/2024  0.039270
9597  16/09/2024  0.039270

[9598 rows x 2 columns]

In [3]:
# Verificar a duplicidade de linhas utilizando drop_duplicates().

df_selic.drop_duplicates(keep='last', inplace=True)

In [4]:
print(df_selic)

            data     valor
0     04/06/1986  0.065041
1     05/06/1986  0.067397
2     06/06/1986  0.066740
3     09/06/1986  0.068247
4     10/06/1986  0.067041
...          ...       ...
9593  10/09/2024  0.039270
9594  11/09/2024  0.039270
9595  12/09/2024  0.039270
9596  13/09/2024  0.039270
9597  16/09/2024  0.039270

[9598 rows x 2 columns]

In [5]:
#adicionar colunas

from datetime import date
from datetime import datetime as dt

data_extracao = date.today()

df_selic['data_extracao'] = data_extracao
df_selic['responsavel'] = "Ackin"

print(df_selic.info())
df_selic.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9598 entries, 0 to 9597
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   data           9598 non-null   object
 1   valor          9598 non-null   float64
 2   data_extracao  9598 non-null   object
 3   responsavel    9598 non-null   object
dtypes: float64(1), object(3)
memory usage: 300.1+ KB
None

         data     valor data_extracao responsavel
0  04/06/1986  0.065041    2024-09-17       Ackin
1  05/06/1986  0.067397    2024-09-17       Ackin
2  06/06/1986  0.066740    2024-09-17       Ackin
3  09/06/1986  0.068247    2024-09-17       Ackin
4  10/06/1986  0.067041    2024-09-17       Ackin

In [9]:
#Filtrando usando loc., utilizando testes booleanos, entre outras medidas. Ele filtra elementos nos dados.

df_selic.loc[300]

df_selic.loc[[0, 20, 40, 60, 80, 100, 120]]

           data     valor data_extracao responsavel
0    04/06/1986  0.065041    2024-09-17       Ackin
20   02/07/1986  0.068301    2024-09-17       Ackin
40   30/07/1986  0.088795    2024-09-17       Ackin
60   27/08/1986  0.133068    2024-09-17       Ackin
80   24/09/1986  0.132548    2024-09-17       Ackin
100  22/10/1986  0.086356    2024-09-17       Ackin
120  19/11/1986  0.112192    2024-09-17       Ackin

In [10]:
teste = df_selic['valor'] < 0.01
print(type(teste))

<class 'pandas.core.series.Series'>

In [13]:
import pandas as pd

# Criando um DataFrame com 5 linhas de dados

data = {
    'nome':['Produto A','Produto B','Produto C','Produto A','Produto E'],
    'quantidade de itens comprados': [3,1,4,3,2],
    'tipo de item':['Eletrônico','Vestuário','Alimento','Eletrônico','Alimento'],
    'receita total':[120,80,60,120,90]
}
df = pd.DataFrame(data)

# Duplicando uma linha
df.drop_duplicates(keep='last', inplace=True)

# Cálculo da coluna preço do item
df['preço do item'] = df['receita total'] / df['quantidade de itens comprados']

# Selecionando preço do item acima de 50 reais
itens_acima_de_50 = df[df['preço do item']>50]

print("itens acima de 50 reais:")
print(itens_acima_de_50)

itens acima de 50 reais:
        nome  quantidade de itens comprados tipo de item  receita total  \
1  Produto B                              1    Vestuário             80

   preço do item
1           80.0